<div class="bootstrap-wrapper">

    <section class="home">
       <!-- <img src="../../../assets/home3.jpg"> -->

        <div class="homecontent">
          
            <h1>Start Learning For Bright Future</h1>
            <h2>One Destination for
                Complete Exam Preparation</h2>

            <button  (click)="register()"   mat-raised-button color="accent"> Get Started For Free</button>

        </div>
    </section>

<section>
    <div class="container text-center" style="margin-top: 10px;">
        <h1>Popular Test Series</h1>
    </div>

<div class="container  ">
    <div class="row ">
        <div class="col-md-4 mb20">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>SBI Clerk 2022 Mock Test </mat-card-title>
                    <mat-card-subtitle>93 Total Tests | 4 Free Tests</mat-card-subtitle>
                </mat-card-header>
             
                <mat-divider></mat-divider>
                <mat-card-content>
                     <ul class="mt10">
                        <li>
                            20 Full Test - Prelims
                        </li>
                        <li>15 Sectional Test - Prelims</li>
                        <li>41 Chapter Test - Prelims</li>
                    </ul>
                </mat-card-content>
                <mat-card-actions>
                    <div class="container text-center">
                        <button  (click)="explore()" mat-raised-button color="accent">View test series</button>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>

        <div class="col-md-4 mb20">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>SBI Clerk 2022 Mock Test </mat-card-title>
                    <mat-card-subtitle>93 Total Tests | 4 Free Tests</mat-card-subtitle>
                </mat-card-header>
             
                <mat-divider></mat-divider>
                <mat-card-content>
                     <ul class="mt10">
                        <li>
                            20 Full Test - Prelims
                        </li>
                        <li>15 Sectional Test - Prelims</li>
                        <li>41 Chapter Test - Prelims</li>
                    </ul>
                </mat-card-content>
                <mat-card-actions>
                    <div class="container text-center">
                        <button  (click)="explore()" mat-raised-button color="accent">View test series</button>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>

        <div class="col-md-4 mb20">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>SBI Clerk 2022 Mock Test </mat-card-title>
                    <mat-card-subtitle>93 Total Tests | 4 Free Tests</mat-card-subtitle>
                </mat-card-header>
             
                <mat-divider></mat-divider>
                <mat-card-content>
                     <ul class="mt10">
                        <li>
                            20 Full Test - Prelims
                        </li>
                        <li>15 Sectional Test - Prelims</li>
                        <li>41 Chapter Test - Prelims</li>
                    </ul>
                </mat-card-content>
                <mat-card-actions>
                    <div class="container text-center">
                        <button  (click)="explore()" mat-raised-button color="accent">View test series</button>
                    </div>
                </mat-card-actions>

            </mat-card>


        </div>
    </div>
</div>

        <div class="container text-center ">
            <button class="mb20"    (click)="explore()" mat-stroked-button color="accent">Explore All Test Series</button>
        </div>

  



      </section>

<!-- TESTIMONIALS -->


  <!-- END OF TESTIMONIALS -->
<div class="policy">
  
 

  <div class="block-heading text-center">
    <h1 >Student Reviews</h1>
   
  </div>

  <div class="container">

<owl-carousel-o [options]="customOptions">
   

    <ng-template carouselSlide>
      <div class="container text-center">
      <div class="slide ">
        <div class="box-area">	
          <div class="img-area">
            <img src="../../../assets/images/sarah.jpg" alt="">
          </div>	
          <h5>Person's name</h5>
         								
          <p class="content">
            Lorem Ipsum is simply dummy text of the printing and 
            typesetting industry. Lorem Ipsum has been the industry's standard dummy text 
            ever since
          </p>
          
        </div>
      </div>
    </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="container text-center">
      <div class="slide">
     
        <div class="box-area">	
          <div class="img-area">
            <img src="../../../assets/images/sarah.jpg" alt="">
          </div>	
          <h5>Person's name</h5>
         								
          <p class="content">
            Lorem Ipsum is simply dummy text of the printing and 
            typesetting industry. Lorem Ipsum has been the industry's standard dummy text 
            ever since
          </p>
         
        </div>
      </div>
    </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="container text-center">
      <div class="slide">
        <div class="box-area">	
          <div class="img-area">
            <img src="../../../assets/images/sarah.jpg" alt="">
          </div>	
          <h5>Person's name</h5>
         						
          <p class="content">
            Lorem Ipsum is simply dummy text of the printing and 
            typesetting industry. Lorem Ipsum has been the industry's standard dummy text 
            ever since
          </p>
          
        </div>
      </div>
    </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="container text-center">
      <div class="slide">
        <div class="box-area">	
          <div class="img-area">
            <img src="../../../assets/images/sarah.jpg" alt="">
          </div>	
          <h5>Person's name</h5>
         							
          <p class="content">
            Lorem Ipsum is simply dummy text of the printing and 
            typesetting industry. Lorem Ipsum has been the industry's standard dummy text 
            ever since
          </p>
         
        </div>
      </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="container text-center">
      <div class="slide">
     
        <div class="box-area">	
          <div class="img-area">
            <img src="../../../assets/images/sarah.jpg" alt="">
          </div>	
          <h5>Person's name</h5>
         						
          <p class="content">
            Lorem Ipsum is simply dummy text of the printing and 
            typesetting industry. Lorem Ipsum has been the industry's standard dummy text 
            ever since
          </p>
         
        </div>
      </div>
    </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="container text-center">
      <div class="slide">
        <div class="box-area">	
          <div class="img-area">
            <img src="../../../assets/images/sarah.jpg" alt="">
          </div>	
          <h5>Person's name</h5>
         						
          <p class="content">
            Lorem Ipsum is simply dummy text of the printing and 
            typesetting industry. Lorem Ipsum has been the industry's standard dummy text 
            ever since
          </p>
         
        </div>
      </div>
</div>
    </ng-template>
 
  </owl-carousel-o>
</div>


</div>


  <footer>
    
    
    <p>@2022 MockTest | All Right Reserved</p>
    
      </footer>

</div>
 

   